{%load static%}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
        <!-- Meta tag -->
		<meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="">
		<meta name='copyright' content='codeglim'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" sizes="180x180" href="{%static 'assets/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static 'assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'assets/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{%static 'assets/img/favicons/favicon.ico' %}">	
		
		<!-- Title Tag -->
        <title>DiabOracle</title>

		
        <!-- Google Font & Google Map -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700" rel="stylesheet"> 
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnhgNBg6jrSuqhTeKKEFDWI0_5fZLx0vM" type="text/javascript"></script>	
		
		<!-- Hover CSS -->
        <link rel="stylesheet" href="{%static 'css/hover.css' %}">
		
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}">
		
		<!-- Slick Nav CSS -->
        <link rel="stylesheet" href="{%static 'css/slicknav.min.css' %}">
		
		<!-- Owl Carousel CSS -->
		<link rel="stylesheet" href="{%static 'css/owl.theme.default.css' %}">
        <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css' %}">
		
		<!-- Magnific Popup CSS -->
		<link rel="stylesheet" href="{%static 'css/magnific-popup.css' %}">
		
		<!-- Animate CSS -->
        <link rel="stylesheet" href="{%static 'css/animate.min.css' %}">
		
		<!-- Bootstrap Css -->
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
		
		<!-- bizman Style CSS -->
        <link rel="stylesheet" href="{%static 'style.css' %}">
        <link rel="stylesheet" href="{%static 'css/default.css' %}">	
        <link rel="stylesheet" href="{%static 'css/responsive.css' %}">	
		
		<!-- bizman Colors -->
		<!-- Use another color Just remove bottom of the comment tag -->
		<!-- Use another color Just remove bottom of the comment tag -->
		<link rel="stylesheet" href="{%static 'css/skin/green.css' %}">
		<!--<link rel="stylesheet" href="css/skin/blaze.css">-->
		<!--<link rel="stylesheet" href="css/skin/blue.css">-->
		<!--<link rel="stylesheet" href="css/skin/blue2.css">-->
		<!--<link rel="stylesheet" href="css/skin/red.css">-->
		<!--<link rel="stylesheet" href="css/skin/purple.css">-->
		<!--<link rel="stylesheet" href="css/skin/pink.css">-->
		<!--<link rel="stylesheet" href="css/skin/orange.css">-->
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
    </head>
    <body>
	
		<!-- Preloader -->
		<div class="loader">
			<div class="loader-inner">
				<div class="k-line k-line11-1"></div>
				<div class="k-line k-line11-2"></div>
				<div class="k-line k-line11-3"></div>
				<div class="k-line k-line11-4"></div>
				<div class="k-line k-line11-5"></div>
			</div>
		</div>
		<!-- End Preloader -->
		
		<!-- Start Header -->
		<header id="header" class="personal">
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-sm-12 col-xs-12">
							<!-- Logo -->
							<div class="logo">
								<a href="/">DiabOracle<span>.</span></a>
							</div>
							<!--/ End Logo -->
						</div>
						<div class="col-md-10 col-sm-12 col-xs-12">
							<div class="nav-area">
								<!-- Main Menu -->
								<nav class="mainmenu">
									<div class="mobile-nav"></div>
									<div class="collapse navbar-collapse">
										<ul class="nav navbar-nav">
                                            <li class=""><a href="/">Accueil</a></li>
											<li><a href="/#about-me">A propos</a></li>
											<li class="active"><a href="/recommandations">Recommandations</a></li>
											<li><a href="/#testimonial">Nos témoignages</a></li>		
											<li><a href="/#contact">Contactez-nous</a></li>		
										</ul>
									</div>
								</nav>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!--/ End Header -->

		<!-- Start Breadcrumbs -->
		<section id="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h4 style="color: white;">Recommandations</h4>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Breadcrumbs -->
	 
		<!-- Start Blog -->
		<section id="blog" class="section page">
			<div class="container">
				<div class="row">
					<!-- Single Blog -->
					<div class="col-md-12">				
						<div class="single-blog">
							<div class="blog-head">
								
							</div>
							<div class="blog-info">
								<h4 class="text-center"><a href="#">Exercice physique quotidien pour mieux gérer votre glycémie</a></h4>
							</div>
						</div>						
					</div>
					<!--/ End Single Blog -->
					<div class="card mt-3 mx-3">
                        <div class="card-body">
                            <p class="">
                                L'activité physique régulière est un excellent moyen de maintenir une glycémie stable et de prévenir les risques liés au diabète. Voici un programme d'exercices simples que vous pouvez faire chez vous, sans matériel spécifique, pour mieux contrôler votre poids et votre glycémie.
                            </p>
                            <h5>Étape 1 : Échauffement (5-10 minutes)</h5>
                            <p>Avant de commencer tout exercice physique, il est important de préparer vos muscles pour éviter les blessures.</p>
                            <ul>
                                <li>
                                    - <strong>Marche rapide sur place</strong>: Marchez sur place pendant 2 à 3 minutes en levant bien les genoux.
                                </li>
                                <li>
                                    - <strong>Rotations des bras et des épaules</strong>: Faites des mouvements circulaires avec vos bras dans un sens, puis dans l'autre pendant 1 minute.
                                </li>
                                <li>
                                    - <strong>Étirement des jambes</strong>: Pliez légèrement les genoux et penchez-vous pour toucher vos orteils. Maintenez cette position pendant 20 à 30 secondes pour étirer vos ischio-jambiers.
                                </li>
                            </ul>
                            <h5>Étape 2 : Exercices cardiovasculaires (15-20 minutes)</h5>
                            <p>Les exercices cardiovasculaires sont essentiels pour brûler des calories et favoriser la sensibilité à l'insuline.</p>
                            <ul>
                                <li>
                                    - <strong>Jumping jacks</strong>: Tenez-vous debout, puis sautez en écartant les jambes et en levant les bras au-dessus de la tête. Faites 3 séries de 30 secondes.
                                </li>
                                <li>
                                    - <strong>Montées de genoux</strong>: Sur place, levez les genoux jusqu’à la hauteur des hanches en alternant rapidement. Faites 3 séries de 30 secondes.
                                </li>
                                <li>
                                    - <strong>Burpees (adaptés)</strong>: Accroupissez-vous, puis étirez vos jambes derrière vous pour vous mettre en position de planche. Revenez ensuite en position accroupie et sautez en l’air en levant les bras. Faites 3 séries de 10 répétitions.
                                </li>
                            </ul>
                            <h5>Étape 3 : Renforcement musculaire (10-15 minutes)</h5>
                            <p>Le renforcement musculaire aide à augmenter votre métabolisme de base, ce qui permet de mieux réguler la glycémie.</p>
                            <ul>
                                <li>
                                    - <strong>Squats</strong>: Tenez-vous debout, les pieds écartés à la largeur des épaules. Pliez les genoux comme si vous alliez vous asseoir sur une chaise, puis revenez en position debout. Faites 3 séries de 15 squats.
                                </li>
                                <li>
                                    - <strong>Pompes contre le mur</strong>: Placez-vous face à un mur, à une distance de bras. Pliez les coudes pour rapprocher votre torse du mur, puis repoussez. Faites 3 séries de 12 répétitions.
                                </li>
                                <li>
                                    - <strong>Gainage (plank)</strong>: Allongez-vous sur le ventre, puis soulevez-vous sur vos avant-bras et vos orteils en maintenant une ligne droite avec votre corps. Tenez la position pendant 20 à 30 secondes. Faites 3 répétitions.
                                </li>
                            </ul>
                            <h5>Étape 4 : Étirements et relaxation (5-10 minutes)</h5>
                            <p>Pour finir, il est essentiel de relaxer vos muscles et de rétablir un rythme cardiaque normal.</p>
                            <ul>
                                <li>
                                    - <strong>Étirement des quadriceps</strong>: Debout, attrapez votre pied droit derrière vous et ramenez-le vers vos fesses pour étirer le quadriceps. Maintenez 30 secondes, puis changez de jambe.
                                </li>
                                <li>
                                    - <strong>Étirement du dos</strong>: Mettez-vous à quatre pattes, puis arrondissez le dos en rentrant la tête, et creusez-le en regardant vers le haut. Répétez ce mouvement 5 à 10 fois.
                                </li>
                                <li>
                                    - <strong>Respiration profonde</strong>: Asseyez-vous confortablement, fermez les yeux et prenez 5 grandes respirations, en inspirant par le nez et en expirant lentement par la bouche.
                                </li>
                            </ul>
                            <h5>Fréquence recommandée</h5>
                            <p>Essayez de pratiquer ces exercices au moins <strong>3 fois par semaine</strong>. L'activité physique régulière contribue à mieux réguler votre taux de sucre dans le sang, à maintenir un poids santé, et à améliorer votre bien-être général.</p>
                        </div>
                    </div>
				</div>
			</div>
		</section>
		<!--/ End Blog -->	
		
		<!-- Footer Top -->
		<section id="footer-top" class="section wow fadeInUp">
			<div class="container">
				<div class="row div-center">
					<!-- Single Widget -->
					<div class="col-md-8 col-sm-8 col-xs-12 ">
						<div class="single-widget about">
							<h2>A propos de nous</h2>
							<p>DiabOracle est une application innovante conçue pour vous aider à surveiller et à prédire votre risque de diabète. Grâce à notre technologie de pointe, nous vous fournissons des informations précises et personnalisées pour vous aider à prendre des décisions éclairées sur votre santé.</p>
							<div class="logo">
								<a href="#">DiabOracle<span>.</span></a>
							</div>	
						</div>
					</div>
					<!--/ End Single Widget -->
				</div>
			</div>
		</section>
		<!--/ End footer Top -->
		
		<!-- Start Footer -->
		<footer id="footer" class="clearfix">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="copyright">
							<p><span><i class="fa fa-heart"></i></span><a href="#">© copyright</a></p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<ul class="social">
							<li>Suivez-nous</li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!--/ End Footer -->
		
		<!-- Jquery JS -->
		<script src="{%static 'js/jquery.min.js' %}"></script>
		
		<!-- Modernizr JS -->
		<script src="{%static 'js/modernizr.min.js' %}"></script>
		
		<!-- Scroll Up JS -->
		<script src="{%static 'js/jquery.scrollUp.min.js' %}"></script>
		
		<!-- Wow JS -->
		<script src="{%static 'js/wow.min.js' %}"></script>
		
		<!-- Slick Nav JS -->
    	<script src="{%static 'js/jquery.slicknav.min.js' %}"></script>
		
		<!-- Onepage Nav JS -->
    	<script src="{%static 'js/jquery.nav.js' %}"></script>
		
		<!-- Typed JS -->
    	<script src="{%static 'js/typed.min.js' %}"></script>
		
		<!-- Popup JS -->
		<script src="{%static 'js/jquery.magnific-popup.min.js' %}"></script>
		
		<!-- Steller JS -->
		<script src="{%static 'js/jquery.stellar.js' %}"></script>
		
		<!-- Particles JS -->
		<script src="{%static 'js/particles.min.js' %}"></script>
		<script src="{%static 'js/particle-code.js' %}"></script>
		
		<!-- Counterup JS -->
		<script src="{%static 'js/waypoints.min.js' %}"></script>
		<script src="{%static 'js/jquery.counterup.min.js' %}"></script>
		
		<!-- Owl Carousel JS -->
		<script src="{%static 'js/owl.carousel.min.js' %}"></script>
		
		<!-- Bootstrap JS -->
		<script src="{%static 'js/bootstrap.min.js' %}"></script>
		
		<!-- Google Map JS -->
		<script src="{%static 'js/gmap.js' %}"></script>
		
		<!-- Main JS -->
		<script src="{%static 'js/main.js' %}"></script>
    </body>

</html>	